*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
  margin: 0px;
  padding: 42px;
  background-color: rgb(101, 85, 240);
  color: white;
}

form {
  margin: 52px 480px 50px 480px;
  padding: 24px;
  border: 1px solid black;
  color: rgb(101, 85, 240);
  font-size: 24px;
}

.inputs {
  font-size: large;
  margin: 15px;
  padding: 8px;
}

#buttons {
  margin-top: 35px;
  margin-bottom: 65px;
  margin-left: 600px;
}

.button {
  color: rgb(101, 85, 240);
  background-color: white;
  padding: 8px;
  border: 1px solid rgb(101, 85, 240);
  margin-right: 8px;
}

a {
  color: rgb(101, 85, 240);
  background-color: white;
}

button:hover, a:hover {
  color: white;
  background-color: rgb(101, 85, 240);
}

footer {
  bottom: 0;
  position: fixed;
  width: 98%;
  text-align: center;
  color: white;
  background-color: rgb(101, 85, 240);
  padding: 24px;
}