    div {
        border: 2px solid #313B3E;
        border-radius: 10px;
    }
    
    .container {
        width: 600px;
        height: 600px;
        background-color: #A8BBC6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #item1 {
        background-color: #FF4136;
        /*Vermelho*/
        grid-row: 1/5;
        grid-column: 1/4;
    }
    
    #item2 {
        background-color: #2ECC40;
        
        /*Verde*/
        grid-column: 4/5;
        grid-row: 1/3;
    }
    
    #item3 {
        background-color: #0074D9;
        /*Verde*/
        grid-column: 4/5;
        grid-row: 3/5;
    }
    
    #item4 {
        background-color: #FFDC00;
        /*Amarelo*/
        grid-column: 3/4;
        grid-row: 5/7;
    }